* {
    box-sizing: border-box;
}

body {
   background-color:#4a5fc1;

}

.logo {
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 5rem;
    
}

.container {
    border-radius: 5px;
    border-color: solid red;
    border: 5px;

}

header {
    border-radius: 5px;
    border-color: solid blue;
    color: #fff;
    padding: 1em;
}
.search-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  